# Copy this file to 'defaults' and set the defaults for your environment
# These are used as fallbacks for options omitted in the scripts using this LIB

# Common options
DEFAULT_CLIENT='test'
DEFAULT_SCHEDULE='+0'
DEFAULT_SENDER='TEST SENDER'
DEFAULT_RECIPIENT='255123456789'

# For the REST clients
DEFAULT_UNAME='admin'
DEFAULT_PWORD='test'
DEFAULT_BASEURL='http://localhost:8282'
DEFAULT_CONTEXT=''

# For the Kafka clients
DEFAULT_BROKER='localhost:9092'
DEFAULT_TOPIC='schedule-sms'

# If sms-client cannot be found, specify full path here
#SMS_CLIENT=/path/to/sms-client/bin/sms-client

