[Unit]
Description=SMS Scheduler Server
Documentation=https://github.com/zwets/sms-scheduler
Requires=network.target kafka.service
After=kafka.service sms-gateway.service

[Service]
Type=simple
User=smes
Group=smes
WorkingDirectory=/opt/sms-scheduler
ExecStart=/usr/bin/java -Xmx1g -jar sms-scheduler.jar --spring.profiles.active=prod
ExecStop=/usr/bin/kill -s TERM $MAINPID
SuccessExitStatus=143
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
